@model Wompus_Website.Models.Show

@{
    ViewBag.Title = @Model.Title;
}

<div class="body div-content">
    <h2>
        @Model.Title.ToString()
    </h2>
    <h3>
        @Html.Raw(Model.Location.ToString())
    </h3>
    <h3>
        @Model.ShowDate.ToString("dddd MMMM dd yyyy h:mm tt")
    </h3>
    <p class="body description-font">
        @Html.Raw(Model.Description.ToString())
    </p>
    <div class="addthis_sharing_toolbox"></div>
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53b35ff34dfbb79f"></script>
