@model PagedList.IPagedList<Wompus_Website.Models.Show>
@using PagedList.Mvc;
<title>@ViewBag.Title = "Shows"</title>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
<h2>Shows</h2>
@foreach (var item in Model)
{
    <div class="body div-content">
        <h2>
            @Html.ActionLink(item.Title.ToString(), "Details", new { id = item.ShowID})
        </h2>
        <h3>
            @Html.Raw(item.Location.ToString())
        </h3>
        <h3>
            @item.ShowDate.ToString("dddd MMMM dd yyyy h:mm tt")
        </h3>
        <p class="body description-font">
            @Html.Raw(item.Description.ToString())
        </p>
        @{
    if (WebSecurity.IsAuthenticated)
    {
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = item.ShowID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ShowID })
        </p>
    }
        }
    </div>
}
<div class="body pagination-wrapper">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>

@{
    if (WebSecurity.IsAuthenticated)
    {
        <div class="body create-link-wrapper">
            @Html.ActionLink("Create New", "Create")
        </div>
    }
}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="Scripts/jquery.fitvids.js"></script>
<script>
    $(document).ready(function () {
        $(".body").fitVids();
    });
</script>
