@model PagedList.IPagedList<Wompus_Website.Models.Show>
@using PagedList.Mvc;
<title>@ViewBag.Title = "Shows"</title>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<style>
    .shows-wrapper {
        float: left;
        width: 700px;
        padding-top: 10px;
    }

    .shows-content {
        background-color: #000;
        float: left;
        margin: 0 0 20px;
        padding: 20px 20px 0;
        width: 660px;
    }

    .description {
        color: white;
    }

    .pagination-wrapper {
        padding-top: 15px;
    }

    .create-link-wrapper {
        padding-top: 15px;
    }
</style>

<h2>Shows</h2>
<div class="shows-wrapper">
    @foreach (var item in Model)
    {
        <div class="shows-content">
            <h2>
                @Html.DisplayFor(modelItem => item.Title)
            </h2>
            <h3>
                @Html.DisplayFor(modelItem => item.Location)
            </h3>
            <h3>
                @Html.DisplayFor(modelItem => item.ShowDate)
            </h3>
            <p class="description">
                @Html.DisplayFor(modelItem => item.Description)
            </p>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </p>
        </div>
    }
</div>
<div class="pagination-wrapper">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>

<div class="create-link-wrapper">
    @Html.ActionLink("Create New", "Create")
</div>
