@model PagedList.IPagedList<Wompus_Website.Models.News>
@using PagedList.Mvc;

@{
    ViewBag.Title = "News";
}
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
<h2>Updates</h2>

@foreach (var item in Model)
{
    <div class="body div-content">
        <h2>
            @Html.ActionLink(item.title.ToString(), "Details", new { id = item.UpdateID })
        </h2>
        <h3>
            @Html.Raw(item.Description.ToString())
        </h3>
        <p class="body publish-time">
            @Html.DisplayFor(modelItem => item.PublishTime)
        </p>
        @{
    if (WebSecurity.IsAuthenticated)
    {
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = item.UpdateID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.UpdateID })
        </p>
    }
        }
    </div>
}

<div class="body pagination-wrapper">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>

@{
    if (WebSecurity.IsAuthenticated)
    {
        <div class="body create-link-wrapper">
            @Html.ActionLink("Create New", "Create")
        </div>
    }
}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="Scripts/jquery.fitvids.js"></script>
<script>
    $(document).ready(function () {
        $(".body").fitVids();
    });
</script>